<app-places-container title="Your Favorite Places">
    @if (isFetching() && !error()) {
        <div class="preloader-wrapper">
            <p class="preloader-info">Fetching favourite places...</p>
            <img
                class="preloader"
                src="loader.svg"
                alt="Fetching available places..."
            />
        </div>
    } @else if (places()) {
        <app-places
            [places]="places()!"
            (selectPlace)="onRemovePlace($event)"
        />
    } @else if (places().length === 0) {
        <p class="fallback-text">Unfortunately, no favourite could be found.</p>
    } @else {
        @if (error()) {
            <div class="preloader-wrapper">
                <p class="fallback-text">{{ error() }}</p>
            </div>
        }
    }
</app-places-container>
